[submodule "parsedown"]
	path = parsedown
	url = https://github.com/erusev/parsedown
[submodule "parsedown-extra"]
	path = parsedown-extra
	url = https://github.com/erusev/parsedown-extra
[submodule "ParsedownFilter"]
	path = ParsedownFilter
	url = https://github.com/Chris--A/ParsedownFilter.git
