Options -Indexes -MultiViews +FollowSymLinks

<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteRule ^$				index.php  [L]
	RewriteCond %{REQUEST_FILENAME}		!-f
	RewriteCond %{REQUEST_FILENAME}		!-d
	RewriteRule (.*)			index.php?f=$1  [QSA,L]
</IfModule>
